* {
  font-family: Georgia, serif;
}

body { margin: 0 10%;
  background-color: whitesmoke;
}

h1 { color: darkcyan; }

img {
  border: 10px;
  border-style: solid;
  border-color: darkcyan;
  margin: 0px 40px;
  float: right;
}

iframe {
  border: 5px;
  border-style: solid;
  border-color: darkcyan;
  margin: 0px 40px;
  height: 350px;
  width: 550px;
  float: center;
}
img.pic{
	width:200px;
	height:120px;
}

table {
  border-width: 0px 0px 5px 0px;
  border-style: solid;
  border-color: darkcyan;
  background: ivory;
  padding: 0px;
  border-spacing: 0px;
  margin: 10px 30px;
}


th {
  color: white;
  background-color: darkcyan;
}

th, td {
  text-align: left;
  padding: 3px 15px;
}

td.trcell, td.facell, td.uicell {
  font-weight: bold;
}

td.trcell {color: #6E6E6E; }
td.facell { color: red;     }
td.uicell { color: orange; }

nav {
    display: flex;
    align-content: flex-start;
    background-color: darkgrey;
    font-size: 20px;

}
nav li { display: inline; }

nav li a {
  color: ivory;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
}

nav li a:hover {
  background-color: cadetblue;
  transition: 0s;
}

nav li a.active {
  color: darkcyan;
  background-color: ivory;
  font-weight: bold;
}
